@import '.././node_modules/antd/dist/antd.css';


@borderColor: #ddd;
@border: solid 1px #ddd;
@fontSize: 14px;
@background: #fff;

.fungo-editor {
	color: #444;
	margin: 0 auto;
	width: 1000px;
	border: solid 1px #ddd;
	border-radius: 4px;
	margin-top: 80px;
	padding: 10px;
	::-webkit-scrollbar {
		width: 6px;
	}
	::-webkit-scrollbar-thumb {
		background-color: #cbcfd6;
	}
}
.fungo-contenteditable {
	padding: 20px;
	min-height: 300px;
	max-height: 600px;
	overflow-y: auto;
	blockquote {
		border-left: 2px solid #ddd;
		margin-left: 0;
		margin-right: 0;
		padding-left: 10px;
		color: #aaa;
	}
	.selected {
		&.hr,
		&.emoji {
			outline: solid 2px rgb(61, 112, 212);
		}
	}
}
.fungo-editor-toolbar {
	color: #999;
	border-bottom: @border;
	.fa {
		font-size: 16px;
		cursor: pointer;
		padding: 10px;
		color: #999;
	}
}
